@inherits LayoutComponentBase

@using InvoiceTracker
@inject UserSession UserSession
@inject NavigationManager Navigation

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 app-header">
                @if (UserSession.IsAuthenticated)
                {
                    <a href="/account">@UserSession.Username</a>
                    <button class="btn btn-link" @onclick="Logout">Logout</button>
                }
                else
                {
                    <a href="/login">Login</a>
                    <a href="/signup">Sign Up</a>
                }
            
        </div>

        <article class="content px-4">
            @Body
        </article>

        <footer class="app-footer">
            © 2026 Invoice Tracker | Team 02 Project
        </footer>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>


@code
{
    private void Logout()
    {
        Console.WriteLine("Logout");
        UserSession.IsAuthenticated = false;
        UserSession.UserId = 0;
        UserSession.Username = string.Empty;
        Navigation.NavigateTo("/login?message=logout", true);
    }
}