@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 app-header">
    <div class="brand">
        <span class="logo">📄</span>
        <span class="title">Invoice Tracker</span>
    </div>

    <div class="user-area">
        <span>Your business Financial Dashboard
        </span>
    </div>
    <div class="top-row px-4">
        <a href="/signup">Sign Up</a>
    </div>
</div>

        <article class="content px-4">
            @Body
        </article>

        <footer class="app-footer">
    © 2026 Invoice Tracker | Team 02 Project
        </footer>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
