<div class="top-row ps-3 navbar navbar-dark">
    <div style="display:flex; align-items:center;">
        <img src="/invoice-dollar-svgrepo-com.svg"
             alt="Logo"
             style="width:50px;height:50px;" />

        <span style="color:white;margin-left:10px;">
            Invoice Tracker
        </span>
    </div>
</div>

<input aria-label="Navigation menu" type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()"
     onkeydown="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dashboard">
                <span class="bi bi-bar-chart" aria-hidden="true"></span> Dashboard
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="invoices">
                <span class="bi bi-receipt" aria-hidden="true"></span> Invoices
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="create-invoice">
                <span class="bi bi-file-earmark-plus" aria-hidden="true"></span> Create Invoice
            </NavLink>
        </div>

    </nav>
</div>

