@* Edit Invoice page *@
@page "/invoices/edit/{id:int}"
@rendermode InteractiveServer

@using Microsoft.EntityFrameworkCore

@inject InvoiceTrackerContext Context
@inject NavigationManager Navigation
@inject UserSession UserSession

<PageTitle>Edit Invoice</PageTitle>


<ErrorBoundary>
    <ChildContent>
        <div class="page-content custom-form">
        <h1 class="pb-3">Edit Invoice</h1>

        @* Client Information *@
        @if (invoice?.Client != null)
        {
            <div class="mb-3">
                <label for="clientName">Client</label>
                <input id="clientName" class="form-control" value="@invoice.Client.ClientName" disabled />
            </div>
        }

        @* Invoice Details *@
        @if (invoice != null)
        {
            <EditForm Model="invoice" OnValidSubmit="UpdateInvoice" FormName="edit-invoice">
                <DataAnnotationsValidator />

                <div class="mb-3">
                    <label for="dueDate">Due Date</label>
                    <InputDate id="dueDate" class="form-control" @bind-Value="invoice.DueDate" />
                </div>

                <div class="mb-3">
                    <label for="isPaid">Status</label>
                    <InputCheckbox id="isPaid" @bind-Value="invoice.IsPaid" />
                    Paid
                </div>

                <button class="btn btn-success">
                    Update
                </button>

                <button type="button" class="btn btn-custom ms-2" @onclick="Cancel">
                    Cancel
                </button>
            </EditForm>
        }
        else
        {
            <p>Loading...</p>
        }
        </div>
    </ChildContent>

    @* Error Content *@
    <ErrorContent Context="ex">
        <div class="alert alert-danger">
            <strong>Error:</strong> @ex.Message
        </div>
    </ErrorContent>
</ErrorBoundary>

@code {

    [Parameter]
    public int id { get; set; }
    Invoice? invoice;

    // Load the invoice details on initialization
    protected override async Task OnInitializedAsync()
    {
        if (!UserSession.IsAuthenticated)
        {
            Navigation.NavigateTo("/login");
        }

        invoice = await Context.Invoices
            .Include(i => i.Client)
            .Include(i => i.InvoiceProducts)
            .FirstOrDefaultAsync(i => i.InvoiceId == id);
    }

    // Update the invoice details in the database
    async Task UpdateInvoice()
    {
        try
        {
            var dbInvoice = await Context.Invoices
                .FirstOrDefaultAsync(i => i.InvoiceId == id);

            // If the invoice is not found, we can't update it
            if (dbInvoice == null)
                return;
            dbInvoice.DueDate = DateTime.SpecifyKind(invoice!.DueDate, DateTimeKind.Utc);
            dbInvoice.IsPaid = invoice.IsPaid;

            // DO NOT TOUCH:
            // dbInvoice.ClientId
            // dbInvoice.UserId
            // dbInvoice.InvoiceProducts

            await Context.SaveChangesAsync();

            Navigation.NavigateTo("/invoices?message=update");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
            Console.WriteLine(ex.InnerException?.Message);
            throw;
        }
    }

    // Navigate back to the invoice list without saving changes
    void Cancel()
    {
        Navigation.NavigateTo("/invoices");
    }
}