@using Microsoft.EntityFrameworkCore
@page "/login"
@rendermode InteractiveServer
@inject NavigationManager Navigation
@inject InvoiceTrackerContext DbContext
@inject UserSession UserSession

<h3>Login</h3>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger">
        @errorMessage
    </div>
}
@if (!string.IsNullOrEmpty(successMessage))
{
    <div class="alert alert-success">
        @successMessage
    </div>
}
<EditForm Model="@loginModel" OnValidSubmit="HandleLogin" ForName="login-form">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <InputText id="username" class="form-control" @bind-Value="loginModel.Username" />
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <InputText id="password" type="password" class="form-control" @bind-Value="loginModel.Password" />
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
</EditForm>



@code {
    private LoginModel loginModel = new();
    private string errorMessage = "";
    private string? successMessage;
    protected override void OnInitialized()
    {
        var uri = new Uri(Navigation.Uri);
        var query = System.Web.HttpUtility.ParseQueryString(uri.Query);

        if (query["message"] == "logout")
        {
            successMessage = "You have been logged out successfully.";
        }
    }
    private async Task HandleLogin()
    {        
        var user = await DbContext.Users
        .FirstOrDefaultAsync(u =>
            u.Username == loginModel.Username);
        
        if (user != null &&
            user.Password == loginModel.Password)
        {
            UserSession.IsAuthenticated = true;
            UserSession.UserId = user.UserId;
            UserSession.Username = user.Username;
            Navigation.NavigateTo("/invoices");
        }
        else
        {
            errorMessage = "Invalid username or password";
        } 
    }

}
